@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  .s-prices
    padding-bottom: 80px

  .price-item
    margin-bottom: 30px
    padding-top: 20px
    padding-left: 20px
    padding-right: 20px
    &-content
      padding-left: 30px
      padding-right: 30px
    &-price
      width: calc(100% + 102px)
      left: -51px
      &:before
        left: 20px
      &:after
        right: 20px

  .s-populars
    padding-bottom: 50px

  .type-item
    height: 170px
    &-title
      font-size: 16px
    &-content
      bottom: 20px
    &:hover
      .type-item-content
        bottom: 60px

  .s-advantages
    padding-top: 150px

  .adv-item
    &-title
      font-size: 18px

  .intro-content
    padding-left: 370px

  .intro-slider
    h1
      font-size: 52px

  .intro-type-item
    width: auto

  .intro-form
    width: calc(100% - 30px)
    margin-left: 0
    margin-right: 0
    padding: 30px 70px
    .phone
      font-size: 26px

  .main-mnu
    a
      font-size: 16px
      margin-right: 20px

  .top-address
    font-size: 18px
    margin-right: 0

  .top-phones
    a
      font-size: 18px

  .soc-item, .messanger-item
    img
      width: 20px

// ≥992px
+media-breakpoint-down(md)

  .pop-item
    width: calc(33.33333% - 18px)
    margin-right: 27px
    margin-bottom: 27px
    &:nth-child(4n)
      margin-right: 27px
    &:nth-child(3n)
      margin-right: 0
    &-title
      font-size: 18px
    &-link
      margin-bottom: 30px
      font-size: 14px
      width: 155px
    &-desc
      font-size: 16px

  .s-types
    padding-bottom: 40px

  .types-wrap
    flex-wrap: wrap
    justify-content: center

  .type-item
    width: calc(33.33333% - 20px)
    margin: 0 10px 20px

  .s-advantages
    padding-top: 340px

  .section-title
    font-size: 32px

  .adv-item
    &-title
      font-size: 22px
    &-col
      &:nth-child(2)
        .adv-item
          &:after
            display: none

  .s-intro
    padding-bottom: 200px

  .intro-form
    bottom: auto
    top: calc(100% + 100px)
    &-body
      flex-direction: column
    .phone
      display: inline-block
      margin-bottom: 50px
      font-size: 34px
      &:after
        right: calc(50% - 14px)
        top: auto
        bottom: -33px
    label
      margin-bottom: 50px
      &:after
        transform: rotate(90deg)
        right: calc(50% - 7px)
        top: auto
        bottom: -30px
    input
      font-size: 18px
      width: 266px

  .intro-content
    padding-left: 270px

  .intro-slider
    height: 160px
    margin-top: 80px
    h1
      font-size: 36px

  .intro-types
    display: none

  .top-socials
    order: 4
    width: 50%
    margin-top: 15px
  .top-contacts
    order: 5
    width: 50%
    justify-content: flex-end
    margin-top: 5px



  .top-line
    flex-wrap: wrap

  .hamburger-wrap
    display: block

  .mnu-line
    display: none

// ≥768px
+media-breakpoint-down(sm)

  .s-prices
    padding-bottom: 20px

  .price-item
    margin-left: 50px
    margin-right: 50px
    padding-top: 15px
    padding-left: 15px
    padding-right: 15px
    &-title
      margin-bottom: 15px
    &-price
      font-size: 26px
      padding-top: 10px
      padding-bottom: 10px
      margin-bottom: 15px
    &-include
      margin-bottom: 0

  .populars-wrap
    justify-content: space-between

  .pop-item
    width: calc(50% - 15px)
    margin-bottom: 30px
    margin-right: 0
    &:nth-child(4n)
      margin-right: 0
    &-link
      margin-bottom: 50px

  .intro-content
    padding-left: 180px

  .intro-slider
    h1
      font-size: 28px

  .intro-numbers
    font-size: 16px
    right: 2px!important

  .top-address
    font-size: 14px

// ≥480px
+media-breakpoint-down(xs)

  .s-prices
    padding-top: 50px
    .section-subtitle
      margin-bottom: 40px

  .price-item
    margin-left: 25px
    margin-right: 25px
    &:hover
      transform: none

  .s-populars
    padding-top: 50px
    padding-bottom: 30px

  .pop-item
    height: 200px
    width: calc(50% - 10px)
    margin-bottom: 20px
    &-link
      margin-bottom: 20px
      margin-top: 20px
    &-title
      font-size: 16px
    &-desc
      font-size: 16px
    &-link
      width: 140px
      padding: 10px
    &.more
      a
        font-size: 18px

  .section-subtitle
    font-size: 16px
    margin-top: 10px

  .types-wrap
    justify-content: space-between

  .type-item
    width: calc(50% - 10px)
    margin-left: 0
    margin-right: 0

  .adv-item
    padding: 0 50px
    margin-bottom: 60px
    &:after
      display: block!important
      right: calc(50% - 3.5px)
      bottom: -32px
      top: auto
    &-col
      &:last-child
        .adv-item
          &:after
            display: none!important

  .s-advantages
    padding-top: 260px
    padding-bottom: 0
    .section-title
      margin-bottom: 30px

  .section-title
    font-size: 24px

  .intro-content
    padding-left: 110px
    padding-right: 25px

  .intro-slider
    height: 120px
    margin-top: 40px
    h1
      font-size: 24px
    .owl-dots
      right: -16px

  .intro-form
    padding: 30px 40px
    top: calc(100% + 88px)
    &-title
      font-size: 18px
      margin-bottom: 5px
    &-subtitle
      font-size: 20px
    .phone
      font-size: 28px
    label
      margin-bottom: 15px
      &:after
        display: none


  .top-address
    order: 3
    margin-top: 20px
    width: 100%
    margin-bottom: 10px
  .top-socials
    width: 90px
    margin-top: 21px

  .top-contacts
    width: calc(100% - 90px)

  .top-phones
    a
      font-size: 16px

@media (max-width: 390px)

  .price-item
    margin-left: 0
    margin-right: 0

  .pop-item
    width: 100%
    height: 220px
    display: none
    &-title
      font-size: 18px
    &-desc
      font-size: 18px
    &-link
      font-size: 17px
      width: 170px
      margin-bottom: 35px
      margin-top: 30px
    &:nth-child(1), &:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5)
      display: block
    &.more
      display: block
      height: auto
      background-color: transparent
      text-align: center
      a
        font-size: 21px
        color: $accent-green
        text-decoration: underline
        &:hover, &:focus, &:active
          color: $accent-green
          text-decoration: none
  .type-item
    width: calc(50% - 5px)
    margin-bottom: 10px
    height: 150px
    &-title
      font-size: 14px

  .messanger-item, .soc-item
    margin: 0 3px
    img
      width: 18px

  .top-messangers
    margin-right: 5px

  .adv-item
    padding: 0 25px

  .intro-content
    padding-left: 50px


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
